{% extends 'base.html.twig' %}

{% block title %}Edit Comments{% endblock %}

{% block body %}
    <h1>Edit Comments</h1>

    {{ include('back/comments/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_back_comments_index') }}">back to list</a>

    {{ include('back/comments/_delete_form.html.twig') }}
{% endblock %}
