<h1>{{ h1 }}</h1>
<p>{{ p }}</p>
<img src='{{ img }}' alt='Image de la recette' style='width:100%; height:auto;' />
<p><a href='https://back.recideas.com/api/newsletter/unsubscribe/{{unsubscribe}}'>Se désinscrire</a></p>